*#*
.gitignore_*
.DS_Store
.cask/
.git/
.python-environments/
.python-version
.skk/
ac-comphist.dat
auto-save-list/
backups/
bin/
conf/
elisp/
elpa/
elpa-2/
emacs.txt
howm/
ido.last
init.elc
/inits/*
!/inits/*.el
junk/
kkcrc
network-security.data
public_repos/
recentf
recentf~
setup-environment.el
setup-environment.elc
share/
tramp
url/
wget*
slime/
straight/
