[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "*"
flake8 = "*"
importmagic = "*"
ipdb = "*"
ipython = "*"
jedi = "*"
jupyter = "*"
yapf = "*"
rope = "*"
black = "*"
epc = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
